<p>
  <b>Name:</b>
  <%=h @prategory.name %>
</p>

<p>
  <b>Parent:</b>
  <%=h @prategory.parent_id %>
</p>


<%= link_to 'Edit', edit_admin_prategory_path(@prategory) %> |
<%= link_to 'Back', admin_prategories_path %>
