<% form_for([@user, @note], :url => profile_notes_path(@user.login)) do |f| %>
  <p>
    <b>What is it that you want to say?</b><br />
    <%= f.text_area :body, :style => 'height: 150px; width: 150px;'%>
  </p>
	
  <p>
    <%= f.submit button_name %>
  </p>
<% end %>