<h1>Terms of Service</h1>

<p>Welcome to PrettybyCritty.com, a website owned by Ingram Internet Enterprises.   Now we all want to get a long and have fun here, but please make sure you read and agree with our Terms of Service.  We want our site to be as friendly, helpful and safe as can be.  </p>

<p>Please note, this is a legal contract. "Users" are defined as individuals who view the websites without participating and "Members" are defined as active participants on the websites.  Both Users and Members agree to be bound by these terms whether signed or unsigned.  This agreement includes all websites owned and operated by Ingram Internet Enterprises.  Your use of any Ingram Internet Enterprise websites indicates you have read, understood and agree to adhere to all aspects of the Terms of Service.  Any subscriber who does not agree with these terms should immediately stop using the account and contact Ingram Internet Enterprises to cancel and cease visiting any Ingram Internet Enterprises owned websites. </p>

<h2>Users or Members agree to the following:</h2>
<ol> 
<li>Users or Members must be 13 years or older.</li><li>

Users and Members agree to obey any applicable local, state, and/or federal laws pertaining to their Internet access and use of these services. The member agrees not to use these services to conduct any activity which may violate these laws. Use of these Services includes, but is not limited to: Web, Email, Blog, Photos, Videos, Linked Videos, Chat and any other medium through which Ingram Internet Enterprises server(s) are used for the storing, distribution, and/or transmission of content or material.  </li><li>

Ingram Internet Enterprises websites are for personal use only.  Commercial advertising, solicitation or affiliate links are prohibited unless a prior agreement has been reached between Ingram Internet Enterprises and your company.  Unapproved commercial advertising, solicitation or affiliate links will be removed by Ingram Internet Enterprises and your member account may be deleted.   </li><li>

Member acknowledges and agrees that if Member uses any of the Services to contribute Content to any Ingram Internet Enterprises website, Ingram Internet Enterprises is granted a non-exclusive, worldwide, royalty-free, transferable right to fully exploit such Content (including all related intellectual property rights) and to allow others to do so.</li><li>

Members will be held legally liable for content and material located on their sites, including but not limited to: copyrighted, trademarked, patented, or other material used without the permission of the intellectual property rights holder; trade secret; pornography; obscene and/or defamatory content.  Ingram Internet Enterprises is a private company and reserves the right to limit and/or prohibit any content or material it deems inappropriate and your member account may be deleted.</li><li>

Members agree not to violate any intellectual property rights, including uploading or downloading commercial software.  </li><li>

Ingram Internet Enterprises reserves the right to monitor any and all communication and activity which occurs through or on its servers to ensure adherence to these terms. </li><li>
 
Ingram Internet Enterprises reserves the right to prohibit, remove, and/or block access to any pages which primarily contain hyperlinks to content or material deemed inappropriate as defined herein.  </li><li>

Ingram Internet Enterprises reserves the right to prohibit, remove, and/or block access to any pages which primarily contain content or material which promotes or induces illegal activity.  </li><li>

Ingram Internet Enterprises reserves the right to prohibit and/or block access to any website, Usenet group, IRC channel or any other content at any time for any reason, including those which contain content or material in violation of the terms in this agreement.  </li><li>

Ingram Internet Enterprises reserves the right to prohibit, remove, and/or block access to any user or member it sees fit.  </li><li>

Members agree to publish comments, blogs, photos, videos, chats and any other material under their own User Name.  User Names and Passwords should be kept confidential.  If a member suspects someone else is using their account, they will contact Ingram Internet Enterprises immediately and the account will be suspended until appropriate security measures can be taken.  </li><li>

Members agree to publish comments, blogs, photos, videos, chats and any other material that relate to the websites topic and not to post off topic, offensive or suggestive material.  "Cyber-bullying" will not be tolerated and will result in the termination of the bullying member's account as well as transcripts and other information will be turned over to law officials.  </li><li>

<p>Please report any violations of these terms to privacy@prettybycritty.com. In the event that Ingram Internet Enterprises receives a complaint, Ingram Internet Enterprises will investigate the complaint and, in its sole discretion, may suspend or terminate the account(s) involved and/or may remove the material from its servers.   Members will be notified, by email, within three (3) days of this proceeding. Members who believe their activities may have been misclassified may petition Ingram Internet Enterprises for renewal of their account.  </p>

<p>Ingram Internet Enterprises reserves the right to release subscriber information to comply with an investigation into any activity which violates these terms, and may report such activity to the appropriate authorities.  </p>