<h1>Products</h1>
<p>We here at Pretty by Critty strive to offer you a place that will meet all of your beauty needs.  Many of the products that we showcase are also available for purchase through our site.</p><p>We'll be able to offer you fantastic deals, brought right to your door.  Also, every purchase through our site will earn you Critty Coins for use on our site, as well.</p><p>It's a win - win situation for everyone.  You get to feel fabulous and current, while we get to continue showcasing the next fabulous makeup and skin care.</p><p>Here is a listing of the current vendors we deal with:</p><br />

<div id="sidebar">
	<ul>
		<li id="search">
			<h2>Benefit</h2>
			<p>We love Benefit Cosmetics. </p><p>  From their uber fashionista-y cellulite cream, to their retro fun shiekness.  Benefit will look good on you.</p><p>   You can purchase all of your Benefit needs, by using Prettybycritty to begin your purchase.</p>
		</li>
		<li id="calendar">
			<h2>Beauty.com</h2>
			<p>We love Beauty.com. </p><p>  From their uber fashionista-y cellulite cream, to their retro fun shiekness.</p><p>You can purchase all of your Beauty needs, by using Prettybycritty to begin your purchase.</p>
		
		</li>
		<li id="categories-1">
			<h2>E.L.F.</h2>
			<p>We love E.L.F. </p><p> They put the vavavoom in your eyes, lips and face.  From their uber fashionista-y cellulite cream, to their retro fun shiekness.  E.L.F. will look good on you.  </p><p> You can purchase all of your Eyes, Lips and face needs, by using Prettybycritty to begin your purchase.</p>
		</li>
	</ul>
	<div style="clear: both; height: 40px;">&nbsp;</div>
</div>