<p>
  <b>Body:</b>
  <%=h @profile.stickie.body %>
</p>

<p>
  <b>User:</b>
  <%=h @profile.stickie.user_id %>
</p>


<%= link_to 'Edit', edit_stickie_path(@stickie) %> |
<%= link_to 'Back', stickies_path %>
