<h1>Editing advert</h1>

<%= error_messages_for :advert %>

<% form_for([:admin, @advert]) do |f| %>
 <%= render :partial => 'advert_fields', :locals => {:f => f, :button_name => "Update"} %>
<% end %>

<%= link_to 'Show', [:admin, @advert] %> |
<%= link_to 'Back', admin_adverts_path %>
